<template>
  <div>
    <gl-sprintf message="Written by %{author}">
      <template #author>
        <span class="gl-font-weight-bold">Author</span>
      </template>
    </gl-sprintf>
  </div>
</template>
