<template>
  <gl-dropdown text="Some dropdown" no-caret>
    <gl-dropdown-item>First item</gl-dropdown-item>
    <gl-dropdown-item>Second item</gl-dropdown-item>
    <gl-dropdown-item>Last item</gl-dropdown-item>
  </gl-dropdown>
</template>
