- var gitlabCssLink = 'https://gitlab-org.gitlab.io/gitlab/application.css'

link(
  href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
  rel='stylesheet'
  integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN'
  crossorigin='anonymous'
)
if isGitlabIntegrationTest
  link(
    type='text/css'
    rel='stylesheet'
    media='all'
    href=gitlabCssLink
  )

script.
  window.addEventListener('message', (message) => {
    if (message.data !== 'toggleGitLabCss') {
      return;
    }

    const linkStylesheetId = 'gitlab-css';
    let linkStylesheet = document.querySelector(`#${linkStylesheetId}`);

    if (linkStylesheet) {
      linkStylesheet.remove();
    } else {
      linkStylesheet = document.createElement('link');
      linkStylesheet.setAttribute('id', linkStylesheetId);
      linkStylesheet.setAttribute('href', '#{gitlabCssLink}');
      linkStylesheet.setAttribute('type', 'text/css');
      linkStylesheet.setAttribute('rel', 'stylesheet');
      linkStylesheet.setAttribute('media', 'all');

      const gitlabUiStyles = document.querySelector('style[data-gitlab-ui-style]');

      gitlabUiStyles.insertAdjacentElement('afterend', linkStylesheet);
    }
  });
